body{
    background-color: black;
    color: white;
}
#input{
    margin-block: 30px;
    background-color: white;
    margin-inline:30%;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding-inline:20px;
    padding-block: 6px;
    input{
        border: none;
    }
}
.btnC{
    margin-left: 10px;
    padding-inline: 20px;
    padding-block: 7px;
    border-radius: 20px;
    border: white 2px solid;
    background-color: black;
    color: white;
}
#imgs{
    display: flex;
    gap: 40px;
    img{
        width: 150px;
        border-radius: 20px;
    }
}